<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DatabaseUrl" value=""/>
    <add key="DatabaseKey" value=""/>
    <add key="MaxRetriesOnRateLimit" value="9"/>
    <add key="MaxRetryWaitTime" value="30"/>
    <add key="DeletionChunkSize" value="1000"/>
  </appSettings>
</configuration>